/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #ffff, #806d93);
  color: #333;
}

/* HEADER */
header {
  text-align: left;
  color: rgb(0, 0, 0);
  background: linear-gradient(to right, #ffff, #806d93);

  padding: 0px;
  margin: 0px;
}


/* HEADER LEFT ALIGN */
header {
  color: rgb(11, 11, 11);
  padding: 30px 40px;
}

/* LOGO + NAME */
.logo-name {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  gap: 15px;
}

/* LOGO BIGGER */
.logo-name img {
  width: 200px;   
  height: 200px;
}

/* NAME SMALLER */
.logo-name h1 {
  font-size: 20px;  
  margin: 0;
  font-weight: 500;
}

/* SUBTITLE ALIGN LEFT */
header p {
  margin-top: 8px;
  margin-left: 85px; 
  font-size: 14px;
  opacity: 0.8;
}
.logo-name img {
  transition: 0.3s;
}

.logo-name img:hover {
  transform: rotate(5deg) scale(1.1);
}
.logo-name h1 {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 5px;
}
/* NAVBAR */
nav {
  background: white;
  text-align: left;
  padding: 30px 50px;
  position: sticky;
  top: 0;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

nav a:hover {
  color: #755e8d;
  
}

/* MAIN SECTIONS */
section {
  background: white;
  max-width: 1500px;
  width: 95%;
  margin: 20px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: 0.3s;
}

section:hover {
  background-color: #f7f5f8;
}

/* IMAGE */
img {
  max-width: 100%;
  border-radius: 10px;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background: #8f7ea0;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #69587a;
}

/* FOOTER */
footer {
  text-align: center;
  color: white;
  padding: 20px;
}

/* RESPONSIVE  */
@media (max-width: 600px) {
  .logo-name {
    flex-direction: column;
  }

  nav a {
    display: block;
    margin: 8px 0;
  }

  header {
    padding: 20px;
  }

  h1 {
    font-size: 20px;
  }
}